[submodule "unions-training"]
	path = unions-training
	url = https://github.com/SacrificeGhuleh/unions-training.git
[submodule "templates-training"]
	path = templates-training
	url = https://github.com/SacrificeGhuleh/templates_training.git